<!doctype html>
<html lang="en" ng-app>
  <head>
    <title>ChobotChat</title>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

   Bootstrap 
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.2/bootstrap-material-design.css" />
   
  <link rel="stylesheet" type="text/css" href="dist/css/bootstrap-material-design.css">
  <link rel="stylesheet" type="text/css" href="dist/css/ripples.min.css">
  
    <style>
      body{
        background-color: #004D40;
      }
      .nothing{
        padding: 0px;
        margin: 0px;
      }
      .chatWindow{
        min-width: 50%;
        max-width: 100%;
        height: 25em;
        overflow-y: auto;
      }
    </style>
    <script>
      function ChatController($scope) {
        var socket = io.connect();
        $scope.messages = [];
        $scope.roster = [];
        $scope.name = '';
        $scope.text = '';

        socket.on('connect', function () {
          $scope.setName();
        });

        socket.on('message', function (msg) {
          $scope.messages.push(msg);
          $scope.$apply();
          var voiceCommand = msg.name  +", says:" + msg.text;
          responsiveVoice.speak(voiceCommand);
          scrollBottom();
        });

        socket.on('roster', function (names) {
          $scope.roster = names;
          $scope.$apply();
        });

        $scope.send = function send() {
          console.log('Sending message:', $scope.text);
          socket.emit('message', $scope.text);
          $scope.text = '';
        };

        $scope.setName = function setName() {
          socket.emit('identify', $scope.name);
        };
      }
      
      function scrollBottom() {
          var scrollAmount = $('#chat-table').height();
          $('.chatWindow').scrollTop(scrollAmount);
      }
    </script>
    <script src='https://code.responsivevoice.org/responsivevoice.js'></script>
  </head>
  <body>
    <div class="container" style="padding-top: 1em;">
    <div ng-controller="ChatController">
      <div class="row">
        
        <div class="col-md-4">
          <div class="card">
                <div class="card-height-indicator"></div>
          <div class="card-content">
             <div class="form-group label-placeholder" style="padding: 1em;">
                <label for="txtUserName" class="control-label">Pick a User Name:</label>
                  <input id="txtUserName" class="form-control" type="text" style="width: 100%;" ng-model="name" ng-change="setName()">      
              </div>
          
          <ul class="nav nav-list" style="padding: 1em;">
            <li class="nav-header">Online:</li>
            <li ng-repeat="user in roster" ng-bind="user"></li>
          </ul>
          </div>
          </div>
        </div>
   <div class="col-md-8">
    <div class="card">
    <div class="card-height-indicator"></div>
    <div class="card-content">

        <div class="card-body">
          <div class="chatWindow">
            <table id="chat-table" class="table nothing">
              <thead>
                <tr>
                  <th style="width: 25%">Name</th>
                  <th style="width: 75%">Message</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="msg in messages">
                  <td style="width: 25%" ng-bind="msg.name"></td>
                  <td style="width: 75%" ng-bind="msg.text"></td>                  
                </tr>                
              </tbody>
            </table>     
            </div>
        </div>

        <footer class="card-footer">
            <div class="form-group">
              <form ng-submit="send()" style="width: 100%;"><input type="text" class="form-control" style="width: 100%;" ng-model="text"></form>
            </div>
              
        </footer>
   </div>
    </div>
    
    </div>
    
    </div>
    
</div>

    
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.2/bootstrap-material-design.iife.js" integrity="sha256-nX1Z3jVnd0z8/vLcmMZVs9B6kbuVY153wWHueF1o2Tg=" crossorigin="anonymous"></script>
    <script src="/js/angular.min.js"></script>
    </div>
  </body>
</html>

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--<title>nowjs test</title>-->
<!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>-->
<!--<script src="/nowjs/now.js"></script>-->

<!--<script>-->
<!--$(document).ready(function(){-->
<!--  now.receiveMessage = function(name, message){-->
<!--    $("#messages").append("<br><b>" + name + "</b>: " + message);-->
<!--  }-->
  
<!--  $("#send-button").click(function(){-->
<!--    now.distributeMessage($("#text-input").val());-->
<!--    $("#text-input").val("");-->
<!--  });-->
  
<!--  $(".change").click(function(){-->
<!--    now.changeRoom($(this).text());-->
<!--  });-->
  
<!--  $("#text-input").keypress(function (e) {-->
<!--    if (e.which && e.which === 13) {-->
<!--      $("#send-button").click();-->
<!--      return false;-->
<!--    }-->
<!--  });-->
  
<!--  now.name = prompt("What's your name?", "");-->
  
<!--  $("#text-input").focus();-->
<!--});-->
<!--</script>-->
<!--</head>-->

<!--<body>-->

<!--<div>-->
<!--  <a href="#" class="change selected">room 1</a> --->
<!--  <a href="#" class="change">room 2</a> --->
<!--  <a href="#" class="change">room 3</a>-->
<!--</div>-->
<!--<br>-->
<!--<div id="messages"><br>You're in room 1</div>-->
<!--<input type="text" id="text-input">-->
<!--<input type="button" value="Send" id="send-button">-->
<!--</body>-->
<!--</html>-->