<!doctype html>
<html lang="en" ng-app>
  <head>
    <title>ChobotChat</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
    <style>
      .chat-container{
        margin-top: 2em;
      }
      .chatWindow{
        min-width: 50%;
        max-width: 95%;
        min-height: 250px;
        max-height: 650px;
        overflow-y: auto;
      }
    </style>
    <script>
      function ChatController($scope) {
        var socket = io.connect();
        $scope.messages = [];
        $scope.roster = [];
        $scope.name = '';
        $scope.text = '';

        socket.on('connect', function () {
          $scope.setName();
        });

        socket.on('message', function (msg) {
          $scope.messages.push(msg);
          $scope.$apply();
          scrollBottom();
        });

        socket.on('roster', function (names) {
          $scope.roster = names;
          $scope.$apply();
        });

        $scope.send = function send() {
          console.log('Sending message:', $scope.text);
          socket.emit('message', $scope.text);
          $scope.text = '';
        };

        $scope.setName = function setName() {
          socket.emit('identify', $scope.name);
        };
      }
      
      function scrollBottom() {
          var scrollAmount = $('#chat-table').height();
          $('.chatWindow').scrollTop(scrollAmount);
      }
    </script>
  </head>
  <body>
    <div class="chat-container container-fluid" ng-controller="ChatController">
      <div class="row">
        
        <div class="col-md-4">
          <ul class="nav nav-list well">
            <li class="nav-header">Online:</li>
            <li ng-repeat="user in roster" ng-bind="user"></li>
          </ul>
          <input type="text" class="input-block-level" ng-model="name" ng-change="setName()" placeholder="userName">
        </div>
        
        <div class="col-md-6">
          <div class="chatWindow">
            <table id="chat-table" style="width: 100%;" class="table">
              <thead>
                <tr>
                  <th style="width: 25%">Name</th>
                  <th style="width: 75%">Text</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="msg in messages">
                  <td style="width: 25%" ng-bind="msg.name"></td>
                  <td style="width: 25%" ng-bind="msg.text"></td>
                </tr>                
              </tbody>
              <tfoot>
                <tr><form ng-submit="send()" style="width: 100%;"><input style="width: 100%;" type="text" ng-model="text" placeholder="New Message"></form></tr>
              </tfoot>
            </table>
            
           </div>
        </div>
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angular.min.js"></script>
  </body>
</html>
